<div class="film">
    <div class="film-title"></div>
    <div class="film-description"></div>
    <div class="col s12 m7">
        <div class="card card-film">
            <div class="card-image">
                <img src="{{node.imagen}}" height="200">
            </div>
            <div class="card-content">
                <h4>{{node.título}}</h4>
                {{!-- <p>{{node.summary}}</p> --}}
            </div>
        </div>
    </div>
</div>